[submodule "ext/libsfz"]
	path = ext/libsfz
	url = git://github.com/sfiera/libsfz.git
[submodule "ext/waf-sfiera"]
	path = ext/waf-sfiera
	url = git://github.com/sfiera/waf-sfiera.git
[submodule "ext/gmock-waf"]
	path = ext/gmock-waf
	url = https://github.com/sfiera/gmock-waf.git
